body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background: radial-gradient(circle, #e66465, #eec1f2, #6971c6/*9198e5*/);
}

h1 {
  font-weight: lighter;
  font-family: "Courier New", fantasy;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;

}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

.pictures {
  margin-top: 20px;
}

button {
  background-color: pink;
  color: purple;
  padding: 8px 8px;
  border-radius: 50px;
}
